server {
    listen 80;
    listen [::]:80;
    server_name ${DOMAIN};

    location ^~ /.well-known/acme-challenge/ {
        root ${ACME_WEBROOT};
        default_type text/plain;
        allow all;
        try_files $uri =404;
    }

    location / {
        return 302 http://$host/.well-known/acme-challenge/;
    }
}
