server {
    listen ${HTTP_PORT};
    listen [::]:${HTTP_PORT};
    server_name ${ACCESS_HOST};

    location ^~ /.well-known/acme-challenge/ {
        root ${ACME_WEBROOT};
        default_type text/plain;
        allow all;
        try_files $uri =404;
    }

    location / {
        return 302 http://$host/.well-known/acme-challenge/;
    }
}
